.component {
  border: 1px solid $border-color;
  border-radius: 2px;
  margin-top: 24px;
  .title {
    padding: 16px;
    border-bottom: 1px solid $border-color;
    background-color: $light-gray-color;
    font-size: 1.1rem;
    font-weight: 700;
  }
}

.flex-row {
  display: flex;
  display: -webkit-flex;
  &.justify-evenly {
    justify-content: space-evenly;
    -webkit-justify-content: space-evenly;
  }

  &.align-center {
    align-items: center;
    -webkit-align-items: center;
  }
}

.custom-input {
  padding-top: 20px;
  padding-bottom: 8px;
  position: relative;
  label.text-field__label {
    display: block;
    line-height: 28px;
    @include transform(translateY(24px));
    @include transform-origin(bottom left);
    @include transition(.4s cubic-bezier(.23, 1, .32, 1));
    top: 0;
    position: absolute;
    left: 0;
    pointer-events: none;
  }

  input {
    height: 32px;
  }

  input {
    display: block;
    width: 100%;
    box-shadow: none;
    cursor: text;
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    font-size: .875rem;
    color: $default-color;
    &:focus {
      & + .bar:after {
        @include transform(scale(1));
      }
      & ~ label.text-field__label {
        color: $accent-blue;
        @include transform(scale(.85) translateY(0));
      }
    }
    &:valid {
      & ~ label.text-field__label {
        color: $accent-blue;
        @include transform(scale(.85) translateY(0));
      }
    }
  }

  .bar {
    position: relative;
    display: block;
    width: 100%;
    &:before {
      right: 0;
      bottom: 0;
      height: 1px;
      content: '';
      position: absolute;
      left: 0;
      border-bottom: 1px solid $border-color;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0px;
      height: 1px;
      background-color: $accent-blue;
      @include transform(scale(0));
      @include transition(.6s cubic-bezier(.23, 1, .32, 1));
    }
  }
}

.btn {
  z-index: 2;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  @include transition(background-color 0.2s linear);
}

.btn-flat {
  color: $accent-blue;
  line-height: 36px;
  min-width: 64px;
  font-size: 0.85rem;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-weight: 500;
  text-transform: uppercase;
  &:hover {
    background-color: transparentize($accent-blue, 0.85);
  }
  &.danger {
    color: $accent-red;
    &:hover {
      background-color: transparentize($accent-red, 0.85);
    }
  }
}