@media (max-width: 1350px) {
  main {
    width: 70%;
  }
}

@media (max-width: 991px) {
  main {
    width: 90%;
    font-size: .85rem;
  }
}

@media (max-width: 580px) {
  .flex-row.justify-evenly {
    & > .flex-item-5 {
      max-width: 33%;
    }
  }
}